html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/* PAGE HRA.HTML */

/*Hra.html - body*/

.body__game {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "lobster", sans-serif;
}

/*Hra.html - title h1*/

.title__game {
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}

/* Hra.html - table grid */


.grid__container {
  display: grid;
  max-width: 80vmin;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.grid__button {
  width: 8vmin;
  height: 8vmin;
  border-radius: 0;
  background-color: #E0CCE0;
  cursor: pointer;
}

.grid__button:focus {
  background-color: #EFE5EF;
}

.grid__button:hover {
  background-color: #EFE5EF;
}

/* Hra.html - menu */

.menu__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 80vmin;
  align-items: baseline;
}


.button__player {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  left: -45px;
}


.button__title {
  color: #ffffff;
  font-size: 28px;
  font-weight: bolder;
  text-transform: uppercase;
  padding-right: 10px;
}

.button__circle {
  width: 27px;
  height: 27px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: transparent;
  border: solid 3px white;
}

.button__home,
.button__game {
  padding: 1rem;
  border-radius: 5px;
}

.button__home {
  background-color: #0197f6;
}

.button__game {
  background-color: #1fcca4;
  margin-left: 0.7rem;
}


.buttons__ikons {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
}


/* MAIN PAGE */

.body {
  overflow-x: hidden;
  background: linear-gradient(to bottom, #615dad, #ffc8da);
  /* background-size: cover;
  background-position: center; */
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
}

.image {
  display: block;
  width: 60%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.article {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  width: 60%;
  color: #ffffff;
  text-align: center;
  /* padding-left: 30px;
  padding-right: 30px; */
  padding: 0 30px 50px 30px;
}

.article__title {
  font-family: "lobster", sans-serif;
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 30px;
}


.nav {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
  border-style: hidden;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav__rules {
  background-color: #1fcca4;
}

.nav__rules:hover {
  background-color: #1cbb96;
}

.nav__start {
  background-color: #0197f6;
}

.nav__start:hover {
  background-color: #0090e9;
}

@media (max-width: 300px) {

  .image,
  .article,
  .nav {
    width: 90%;
  }

  .game {
    padding-top: 0.3rem;
  }
}

@media (min-width: 700px) {
  .article__title {
    font-size: 3rem;
  }


  .image,
  .article,
  .nav {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .article__title {
    font-size: 4rem;
  }


  .image,
  .article,
  .nav {
    width: 25%;
  }
}
